* {
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
  padding: 16px 0;
  margin-right: 16px;
  margin-left: 16px;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  src: url(../assets/fonts/AvenirNextLTPro.ttf);
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
body {
  font-family: AvenirNextlTPro-Regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}

/*@mixin comment-button: hover {
  background-color: #000000;
}*/
.container-header {
  width: 100vw;
  height: 50%;
  background-color: #323232;
}

.container-header__wordmark {
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.container-header__navbar {
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
}

.container-header__navbar-item1:active {
  border-bottom: 3px solid #ffffff;
  width: 100%;
}

.container-header__navbar-item2:active {
  border-bottom: 3px solid #ffffff;
  width: 100%;
}

.container-hero {
  display: flex;
  align-items: center;
  background: #323232;
  overflow: hidden;
}

.container-hero__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.container-hero__band-name {
  position: absolute;
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  padding: 16px;
}

.container-bio {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.container-bio__heading {
  padding: 24px 0 16px 0;
}

.container-bio__sub-heading {
  padding: 5% 0 0 0;
}

.container-bio__image {
  width: 100%;
  padding-bottom: 16px;
}

.container-bio__quote--bold {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 14px;
}

.container-bio__bio-text {
  flex-direction: row;
  flex-wrap: wrap;
}

.container-bio__bio-text--para1 {
  padding: 2% 0;
}

.container-bio__bio-text--para2 {
  padding: 2% 0;
}

.container-photo-gallery {
  padding: 16px;
  background-color: #fafafa;
}

.container-photo-gallery__heading {
  padding: 2% 0 5% 0;
  font-family: "AvenirNextLTPro-Demi";
}

.container-photo-gallery__photo {
  width: 100%;
  padding: 2% 0;
}

.container-comment {
  display: flex;
  padding: 0 16px;
}

.container-comment__heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 5%;
}

.container-comment__fields {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-left: 24px;
  padding-bottom: 24px;
}

.container-comment__avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  flex-direction: row;
  flex-direction: row;
}

.container-comment__label {
  color: #afafaf;
}

.comment__button {
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  width: 70%;
}

.container-comment__dynamic-content {
  width: 80%;
  min-height: 36px;
}

input {
  font-family: AvenirNextlTPro-Regular;
  min-height: 36px;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #e1e1e1;
  margin-top: 4px;
  margin: 8px 0 24px 0;
  background-color: #fafafa;
}

textarea {
  font-family: AvenirNextlTPro-Regular;
  min-height: 36px;
  border-radius: 4px;
  padding: 12px;
  border: 1px solid #e1e1e1;
  margin-top: 4px;
  min-height: 72px;
  margin: 8px 0 24px 0;
  background-color: #fafafa;
}

input[type=submit] {
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.container-footer {
  background-color: #323232;
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  font-size: 13px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.container-footer__heading {
  font-family: "AvenirNextLTPro-Demi";
}

.container-footer__social {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

footer ul a li {
  width: 60px;
  padding-top: 20px;
}

.container-footer__social-icon {
  width: 30px;
  height: 30px;
  margin-right: 20%;
}

.container-footer__company-info--spacing {
  padding-top: 10%;
}

.container-footer__company-name {
  font-family: "AvenirNextLTPro-Demi";
}

.container-footer__wordmark {
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  padding-top: 20%;
}

.container-footer__copyright {
  padding-top: 16px;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .container-header {
    display: flex;
    height: 8rem;
    justify-content: flex-start;
    align-items: center;
  }

  .container-header__wordmark {
    justify-content: flex-start;
    align-items: center;
    padding-left: 25%;
  }

  .container-header__navbar {
    justify-content: space-evenly;
    width: 100%;
    padding-left: 10%;
  }

  .container-header__navbar--width {
    width: 50%;
  }

  .container-header__navbar-item1 {
    width: 30%;
    font-size: 1.5rem;
  }

  .container-header__navbar-item2 {
    width: 30%;
    font-size: 1.5rem;
  }

  .container-hero {
    display: flex;
    align-items: center;
  }

  .container-hero__band-name {
    font-size: 5rem;
    font-weight: 800;
  }

  .container-bio__bio-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .container-bio__bio-text--para1 {
    width: 45%;
  }

  .container-bio__bio-text--para2 {
    width: 45%;
  }

  .container-photo-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 16px;
    position: relative;
  }

  .container-photo-gallery__heading {
    position: absolute;
    justify-content: flex-start;
    padding: 5%;
  }

  .container-photo-gallery__photos--position {
    padding-top: 10%;
  }

  .container-photo-gallery__photo {
    width: 25%;
    padding-left: 5%;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
  }

  .container-footer__heading {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 30%;
    padding-left: 2%;
    font-size: 36px;
  }

  .container-footer__social {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 15%;
    padding-left: 7%;
  }

  .container-footer__companies {
    width: 100vw;
    position: absolute;
    background-color: #323232;
    top: 90%;
    left: -0.01%;
    padding-bottom: 10%;
  }

  .container-footer__company-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
  }

  .container-footer__company-info--column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .container-footer__company-info--spacing {
    background-color: #323232;
  }

  .container-footer__wordmark {
    font-size: 34px;
    align-content: flex-end;
  }

  .container-footer__copyright {
    position: absolute;
    top: 300px;
    left: 0.01%;
    background-color: #323232;
    padding: 0 0 0 16px;
  }
}
@media (min-width: 1280px) {
  .container-bio__heading {
    font-size: 36px;
    padding: 48px 0 36px 0;
    padding-left: 15%;
  }

  .container-bio__image {
    width: 70%;
    padding-left: 15%;
  }

  .container-bio__quote--bold {
    padding: 0 15%;
    font-size: 24px;
  }

  .container-bio__sub-heading {
    padding: 24px 15% 0 15%;
    font-size: 24px;
  }

  .container-bio__bio-text {
    padding: 0 15%;
  }

  .container-photo-gallery__heading {
    font-size: 36px;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
  }

  .container-footer__heading {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 30%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 42px;
  }

  .container-footer__companies {
    width: 100vw;
    position: absolute;
    background-color: #323232;
    top: 90%;
    left: -0.01%;
    padding-bottom: 10%;
  }

  .container-footer__company-info {
    padding-left: 7%;
    padding-top: 2%;
    justify-content: flex-start;
  }

  .container-footer__company-info--column {
    padding-right: 5%;
  }

  .container-footer__company-info--spacing {
    background-color: #323232;
  }

  .container-footer__wordmark {
    font-size: 34px;
    align-content: flex-end;
  }

  .container-footer__copyright {
    position: absolute;
    top: 350px;
  }
}/*# sourceMappingURL=bio.css.map */