* {
  margin: 0;
}

@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
  src: url(../assets/fonts/AvenirNextLTPro.ttf);
}

@mixin main-font {
  font-family: AvenirNextlTPro-Regular;
}

body {
  @include main-font();
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}

@mixin header-style {
  @include main-font();
  color: #ffffff;
  display: flex;
}

@mixin container-padding {
  padding: 5%;
}

@mixin footer-padding {
  padding-top: 5%;
}

.container-header {
  width: 100vw;
  height: 50%;
  background-color: #666666;
}

.container-header__wordmark {
  @include header-style();
  justify-content: center;
}
.container-header__navbar {
  @include header-style();
  justify-content: space-evenly;
  padding: 5% 0;
}

.container-hero {
  display: flex;
  align-items: center;
}

@mixin images {
  width: 100%;
}

.container-hero__image {
  @include images();
}

.container-hero__band-name {
  position: absolute;
  @include header-style();
  @include container-padding();
}

.container-bio {
  @include container-padding();
}

.container-bio__heading {
  padding: 5% 0;
}

.container-bio__sub-heading {
  padding: 5% 0;
}

.container-bio__image {
  @include images();
  padding: 0 0 5% 0;
}

.container-bio__quote--bold {
  font-family: AvenirNextLTPro-Bold;
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}

.container-photo-gallery {
  @include container-padding();
  background-color: lightgrey;
}

.container-photo-gallery__heading {
  padding: 5% 0;
}

.container-photo-gallery__photo {
  @include images();
  padding: 2% 0;
}

.container-footer {
  height: 200px;
}
.container-footer__company-name {
  @include footer-padding();
}

.container-footer__company-address {
  @include footer-padding();
}

.container-footer__company-discription {
  @include footer-padding();
}

.container-footer__company-email {
  @include footer-padding();
}
