* {
  margin: 0;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  src: url(../assets/fonts/AvenirNextLTPro.ttf);
}

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}

@mixin main-font {
  font-family: AvenirNextlTPro-Regular;
}

body {
  @include main-font();
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}

@mixin header-style {
  @include main-font();
  color: #ffffff;
  display: flex;
}

@mixin footer-style {
  @include main-font();
  color: #ffffff;
  font-size: 13px;
}

@mixin container-padding {
  padding: 5% 1% 5% 5%;
}

@mixin footer-padding {
  padding-top: 10%;
}

.container-header {
  width: 100vw;
  height: 50%;
  background-color: #323232;
}

.container-header__wordmark {
  @include header-style();
  justify-content: center;
}

.container-header__navbar {
  @include header-style();
  justify-content: space-evenly;
  padding: 5% 0;
}

.container-hero {
  display: flex;
  align-items: center;
}

@mixin images {
  width: 100%;
}

.container-hero__image {
  @include images();
}

.container-hero__band-name {
  position: absolute;
  @include header-style();
  @include container-padding();
}

.container-bio {
  @include container-padding();
}

.container-bio__heading {
  padding: 5% 0;
}

.container-bio__sub-heading {
  padding: 5% 0 0 0;
}

.container-bio__image {
  @include images();
  padding: 0 0 5% 0;
}

.container-bio__quote--bold {
  font-family: "AvenirNextLTPro-Demi";
  font-size: 14px;
}

.container-bio__bio-text {
  flex-direction: row;
  flex-wrap: wrap;
}

.container-bio__bio-text--para1 {
  padding: 2% 0;
}

.container-bio__bio-text--para2 {
  padding: 2% 0;
}

.container-photo-gallery {
  @include container-padding();
  background-color: #fafafa;
}

.container-photo-gallery__heading {
  padding: 2% 0 5% 0;
  font-family: "AvenirNextLTPro-Demi";
}

.container-photo-gallery__photo {
  @include images();
  padding: 2% 0;
}

.container-footer {
  background-color: #323232;
  @include footer-style();
  @include container-padding();
  display: flex;
  flex-direction: column;
}

.container-footer__heading {
  font-family: "AvenirNextLTPro-Demi";
}
.container-footer__social {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

footer ul a li {
  width: 60px;
  padding-top: 20px;
}

.container-footer__social-icon {
  width: 30px;
  height: 30px;
  margin-right: 20%;
}

.container-footer__company-info--spacing {
  @include footer-padding();
}

.container-footer__company-name {
  font-family: "AvenirNextLTPro-Demi";
}

.container-footer__wordmark {
  @include header-style();
  justify-content: flex-start;
  padding-top: 20%;
}

.container-footer__copyright {
  padding-top: 5%;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .container-header {
    display: flex;
    height: 8rem;
    justify-content: flex-start;
    align-items: center;
  }
  .container-header__wordmark {
    justify-content: flex-start;
    align-items: center;
    padding-left: 25%;
  }
  .container-header__navbar {
    justify-content: space-evenly;
    width: 100%;
    padding-left: 10%;
  }
  .container-header__navbar--width {
    width: 50%;
  }
  .container-header__navbar-item1 {
    width: 30%;
    font-size: 1.5rem;
  }
  .container-header__navbar-item2 {
    width: 30%;
    font-size: 1.5rem;
  }
  .container-hero {
    display: flex;
    align-items: center;
  }
  .container-hero__band-name {
    font-size: 5rem;
    font-weight: 800;
  }
  .container-bio__bio-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container-bio__bio-text--para1 {
    width: 45%;
  }
  .container-bio__bio-text--para2 {
    width: 45%;
  }
  .container-photo-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container-photo-gallery__photo {
    width: 25%;
    padding: 0 24px;
    justify-content: space-evenly;
  }
  .container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
  }
  .container-footer__heading {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 50%;
  }
  .container-footer__social {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 50%;
  }

  .container-footer__company-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 90%;
    background-color: #323232;
    font-size: 1rem;
  }
  .container-footer__company-info--column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .container-footer__company-info--spacing {
    background-color: #323232;
  }

  .container-footer__wordmark {
    @include header-style();
    justify-content: flex-start;
    padding-top: 20%;
  }
  .container-footer__copyright {
    position: absolute;
    top: 210%;
    background-color: #323232;
    width: 100vw;
    margin: 0%;
  }
}

@media (min-width: 1280px) {
  .container-photo-gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
