* {
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  padding: 16px;
  justify-content: center;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  src: url(../assets/fonts/AvenirNextLTPro.ttf);
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
body {
  font-family: AvenirNextlTPro-Regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}

/*@mixin comment-button: hover {
    background-color: #000000;
  }*/
.container-header {
  width: 100vw;
  height: 50%;
  background-color: #323232;
}

.container-header__wordmark {
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.container-header__navbar {
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
}

.container-header__navbar-item1:active {
  border-bottom: 3px solid #ffffff;
  width: 100%;
}

.container-header__navbar-item2:active {
  border-bottom: 3px solid #ffffff;
  width: 100%;
}

.container-hero {
  display: flex;
  align-items: center;
  background: #323232;
  overflow: hidden;
}

.container-hero__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.container-hero__album-name {
  position: absolute;
  top: 20%;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  padding: 0 5%;
}

.container-hero__album {
  position: absolute;
  top: 25%;
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  padding: 0 5%;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.container-hero__song {
  position: absolute;
  top: 30%;
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  padding: 0 5%;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.container-shows {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.container-shows__heading {
  padding: 24px 0 16px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.container-shows__dates-locations--desktop-heading {
  display: none;
}

.container-shows__dates-locations {
  padding: 0;
}

.container-shows__info-type {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #afafaf;
  padding: 16px 0 8px 0;
}

.container-shows__info-date {
  font-weight: 700;
}

.container-shows__info-location {
  padding-bottom: 16px;
}

.container-shows__buy-tickets {
  padding: 16px;
  color: #ffffff;
  background-color: #323232;
  font-size: 18px;
  border-radius: 4px;
}

.container-footer {
  background-color: #323232;
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  font-size: 13px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.container-footer__heading {
  font-family: "AvenirNextLTPro-Demi";
}

.container-footer__social {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

footer ul a li {
  width: 60px;
  padding-top: 20px;
}

.container-footer__social-icon {
  width: 30px;
  height: 30px;
  margin-right: 20%;
}

.container-footer__company-info--spacing {
  padding-top: 10%;
}

.container-footer__company-name {
  font-family: "AvenirNextLTPro-Demi";
}

.container-footer__wordmark {
  font-family: AvenirNextlTPro-Regular;
  color: #ffffff;
  display: flex;
  padding-top: 20%;
}

.container-footer__copyright {
  padding-top: 5%;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .container-header {
    display: flex;
    height: 8rem;
    justify-content: flex-start;
    align-items: center;
  }

  .container-header__wordmark {
    justify-content: flex-start;
    align-items: center;
    padding-left: 25%;
  }

  .container-header__navbar {
    justify-content: space-evenly;
    width: 100%;
    padding-left: 10%;
  }

  .container-header__navbar--width {
    width: 50%;
  }

  .container-header__navbar-item1 {
    width: 30%;
    font-size: 1.5rem;
  }

  .container-header__navbar-item2 {
    width: 30%;
    font-size: 1.5rem;
  }

  .container-shows__heading {
    padding: 24px 0 16px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  .container-shows__dates-locations--desktop-heading {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    color: #afafaf;
    width: 80%;
  }

  .container-shows__desktop-info-type {
    width: 100%;
  }

  .container-shows__desktop-display {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  .container-shows__dates-locations {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    width: 80%;
  }

  .container-shows__info-type {
    display: none;
  }

  .container-shows__info-date {
    font-weight: 700;
  }

  .container-shows__info-location {
    padding-bottom: 16px;
  }

  .container-shows__buy-tickets {
    padding: 16px;
    color: #ffffff;
    background-color: #323232;
    font-size: 18px;
    border-radius: 4px;
    flex-direction: row;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
  }

  .container-footer__heading {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 30%;
    padding-left: 2%;
    font-size: 42px;
  }

  .container-footer__social {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 15%;
    padding-left: 7%;
  }

  .container-footer__companies {
    width: 100vw;
    position: absolute;
    background-color: #323232;
    top: 90%;
    left: -0.01%;
    padding-bottom: 10%;
  }

  .container-footer__company-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1rem;
  }

  .container-footer__company-info--column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .container-footer__company-info--spacing {
    background-color: #323232;
  }

  .container-footer__wordmark {
    font-size: 34px;
    align-content: flex-end;
  }

  .container-footer__copyright {
    position: absolute;
    top: 250%;
    left: 0.01%;
    background-color: #323232;
    padding-bottom: 5%;
    padding-left: 5%;
  }
}
@media (min-width: 1280px) {
  .container-bio__heading {
    font-size: 36px;
    padding: 48px 0 36px 0;
    padding-left: 15%;
  }

  .container-bio__image {
    width: 70%;
    padding-left: 15%;
  }

  .container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
  }

  .container-footer__heading {
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 30%;
    padding-left: 2%;
    padding-bottom: 2%;
    font-size: 42px;
  }

  .container-footer__companies {
    width: 100vw;
    position: absolute;
    background-color: #323232;
    top: 90%;
    left: -0.01%;
    padding-bottom: 10%;
  }

  .container-footer__company-info {
    padding-left: 7%;
    padding-top: 2%;
    justify-content: flex-start;
  }

  .container-footer__company-info--column {
    padding-right: 5%;
  }

  .container-footer__company-info--spacing {
    background-color: #323232;
  }

  .container-footer__wordmark {
    font-size: 34px;
    align-content: flex-end;
  }

  .container-footer__copyright {
    position: absolute;
    top: 350%;
    left: 0.01%;
    background-color: #323232;
    width: 100%;
    padding-bottom: 5%;
    padding-left: 7%;
  }
}/*# sourceMappingURL=shows.css.map */